@charset "utf-8";
/* css Document */
/*----------------------- Common <<--------------------------*/

* {
	padding:0;
	margin:0;
}
body {
	padding:0;
	margin:0;
	background:url(../images/bg.jpg) no-repeat top center #044473;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#4c4c4c;
	font-size:12px;
}
h1 {/*16px via YUI Fonts css foundation*/
	font-size:123.1%;
}
h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:25px;
	/*	color:#666666;*/
	font-weight:100;/*text-transform:uppercase;*//*letter-spacing:-1px;*/
}
h3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#2d8b06;
	font-weight:bold;
}
h4 {
	font-size:20px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	margin:0 0 0px 0;
	font-weight:normal;
}
h4 span {
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:normal;
}
h5 {
	font-size:9pt;
}
h1, h2, h4 {
	/* top & bottom margin based on font size */
	margin:0 0 0px 0;
}
abbr, acronym {
	/*indicating to users that more info is available */
	border-bottom:1px dotted #000;
	cursor:help;
}
em {
	/*bringing italics back to the em element*/
	font-style:italic;
}
blockquote, ul, ol, dl {
	/*giving blockquotes and lists room to breath*/
	margin:0em;
}
ol, ul, dl {
	/*bringing lists on to the page with breathing room */
	margin-left:0em;
}
ol li {
	/*giving OL's LIs generated numbers*/
	list-style: decimal outside;
	line-height:18px;
}
ul li {
	/*giving UL's LIs generated disc markers*/
	/*list-style:none;*/
}
.sidelink ul ,.sidelink ul li{list-style:none;}
.content_text ul,content_text ol{margin-left: 35px;}
dl dd {
	/*giving UL's LIs generated numbers*/
	margin-left:0em;
}
th {
	/*distinguishing table headers from data cells*/
	font-weight:bold;
	text-align:center;
}
caption {
	/*coordinated marking to match cell's padding*/
	margin-bottom:.5em;
	/*centered so it doesn't blend in to other content*/
	text-align:center;
}
p {
	padding:5px 3px 5px 0px;
	line-height:16px;
}
fieldset, img {
	border:0;
}
address, caption, cite, code, dfn, em, th, var {
	font-style:normal;
	font-weight:normal;
}
ol, ul {
	
}
caption, th {
	text-align:left;
}
q:before, q:after {
	content:'';
}
abbr, acronym {
	border:0;
}
a {
	text-decoration:none;
}
a:hover {
	color: #666666;
	text-decoration:underline;
}
a:active {
}
a:focus {
	outline: 0;
}
*:focus {
	outline: 0;
}
.clear {
	clear:both;
}
/*----------------------- Layout <<--------------------------*/
#outer_main {
	width:1020px;
	margin:0 auto;
	padding-top:35px;
}
/*----------------------->> Header <<--------------------------*/
header_container {
	background:url(../images/top_shadow_side.png) no-repeat right;
	height:27px;
	width:1068px;
}
#header {
	height:131px;
	width:983px;
	margin:0 auto;
	background:url(../images/head_text.png) no-repeat 280px 50px;
}
#logo {
	background:url(../images/logo.png) no-repeat left top;
	margin-top:32px;
	margin-left:70px;
	width:166px;
	height:65px;
	float:left;
	text-indent:-9999px;
}
#logo a {
	width:166px;
	height:65px;
	display:block;
}
#search_area {
	float:right;
	width:211px;
	padding:50px 0 0 0;
	height:81px
}
.serch_btn {
	background:url(../images/search_btn.gif) no-repeat;
	width:58px;
	height:29px;
	border:0px;
	float:right;
	cursor:pointer;
}
.serch_field {
	background:url(../images/serch_bg.gif) no-repeat;
	width:144px;
	height:25px;
	border:0px;
	float:right;
	margin-right:4px;
	padding-left:5px;
}
/*----------------------->> Menu <<--------------------------*/
#menu_container {
	margin:0;
	background:url(../images/top_shadow_side.png) no-repeat right;
	height:27px;
}
#menu {
	height:27px;
	background:url(../images/menu_bg.png) repeat-x;
	width:984px;
	margin:0 auto;
}
#menu ul {
	margin:0;
	padding:0 0px;
	text-align: center;
}
#menu li {
	display:inline-block;
	padding:0 0px;
	margin:0;
	list-style:none;
	height:27px;
}
#menu li a {
	display:block;
	padding:0 30px;
	background-position:0px 0px;
	height:27px;
	line-height: 27px;
	font-family: 'Arial Black', Gadget, sans-serif;
	font-weight: 700;
	color:#f3f5f6;
	text-transform: uppercase;
	font-size: 11px;
	text-shadow: 1px 1.5px 1px rgba(0, 0, 0, 0.9);
	opacity: .95;
	/*Arial, Helvetica, sans-serif*/
}
#menu li a:hover {
	display:block;
	background-color:#a0a0a0;
	text-decoration: none;
}
/*------------------->> Middle Container <<--------------------*/
#middle_container {
	margin:0;
	background:url(../images/middle_bg.png) repeat-y right;
}
.middle_container_inner {
	width:984px;
	margin:0 auto;
	padding-top:0px !important;
}
#banner {
	background:url(../images/banner.jpg) no-repeat center;
	height:431px;
	margin:0 auto;
	_margin-left:3px;
	width:984px;
}
/*------------------->> quick links <<--------------------*/
.quick_links {
	height:37px;
	padding:12px 17px 0 0;
}
.featured_properties {
	height:115px;
}
.featured_properties h2 {
	margin:0 0 0 30px;
	background:url(../images/featured_properties.gif) no-repeat;
	padding:0px;
	text-indent:-99999px;
	display:block;
	height:20px;
}
.pay_rent {
	background:url(../images/pay_rent.gif) no-repeat;
	width:153px;
	height:35px;
	border:0px;
	cursor:pointer;
	margin-right:8px;
	float:right;
}
.residential {
	background:url(../images/residential.gif) no-repeat;
	width:153px;
	height:35px;
	border:0px;
	cursor:pointer;
	margin-right:8px;
	float:right;
}
.commerical {
	background:url(../images/commerical.gif) no-repeat;
	width:153px;
	height:35px;
	border:0px;
	cursor:pointer;
	margin-right:8px;
	float:right;
}
.investors {
	background:url(../images/investors.gif) no-repeat;
	width:153px;
	height:35px;
	border:0px;
	cursor:pointer;
	margin-right:8px;
	float:right;
}
/*----------------------->> slider <<--------------------------*/
.slider {
	padding:0px;
	margin:0px;
}
.slider li {
	background:url(../images/img_bg.png) no-repeat;
	padding:0px 0px 8px 0px;
	list-style:none;
	margin:0px
}
*html .slider li {
	background:none;
 filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', src='http://192.168.2.44/cfh/sites/all/themes/CFH_theme/images/img_bg.png', sizingMethod='noscale');
	padding:0px 0px 8px 0px;
}
/*----------------------->> Footer <<--------------------------*/
.footer_main_inner {
	width:1068px;
	margin:0 auto;
}
/*----------------------->> Footer for home <<--------------------------*/
#footer_home {
	background:url(../images/footer_home.png) no-repeat right;
	height:70px;
	padding:40px 0;
	text-align:right;
	color:#fff;
	font:10px Arial, Helvetica, sans-serif;
	_margin-left:1px;
}
#footer_home p {
	padding:10px 25px 5px 0px;
	line-height:16px;
}
#footer_home a {
	padding:0px 2px 0px 2px;
	color:#fff;
	font-weight:normal;
	text-decoration:none;
}
#footer_home a:hover {
	color:#fff;
	font-weight:normal;
	text-decoration:underline;
}
/*----------------------->> Footer for services <<--------------------------*/
#footer_services {
	background:url(../images/footer_services.png) no-repeat right;
	margin: 0 auto;
	height:70px;
	padding:40px 0;
	text-align:right;
	color:#fff;
	font:10px Arial, Helvetica, sans-serif;
	_margin-left:1px;
}
#footer_services p {
	padding:10px 45px 5px 0px;
	line-height:16px;
}
#footer_services a {
	padding:0px 2px 0px 2px;
	color:#fff;
	font-weight:normal;
	text-decoration:none;
}
#footer_services a:hover {
	padding:0px 2px 0px 2px;
	color:#fff;
	font-weight:normal;
	text-decoration:underline;
}
#footer_paramount {
	background:url(../images/footer_paramount.png) no-repeat right;
	margin: 0 auto;
	height:70px;
	padding:40px 0;
	text-align:right;
	color:#fff;
	font:10px Arial, Helvetica, sans-serif;
	_margin-left:1px;
}
#footer_paramount p {
	padding:10px 45px 5px 0px;
	line-height:16px;
}
#footer_paramount a {
	padding:0px 2px 0px 2px;
	color:#fff;
	font-weight:normal;
	text-decoration:none;
}
#footer_paramount a:hover {
	padding:0px 2px 0px 2px;
	color:#fff;
	font-weight:normal;
	text-decoration:underline;
}
/*----------------------->> Footer inner<<--------------------------*/
#footer {
	background:url(../images/footer_bg2.png) no-repeat right;
	margin: 0 auto;
	height:70px;
	padding:40px 0;
	text-align:right;
	color:#fff;
	font:10px Arial, Helvetica, sans-serif;
	_margin-left:1px
}
#footer p {
	padding:10px 45px 5px 0px;
	line-height:16px;
}
#footer a {
	padding:0px 2px 0px 2px;
	color:#fff;
	font-weight:normal;
	text-decoration:none;
}
#footer a:hover {
	padding:0px 2px 0px 2px;
	color:#fff;
	font-weight:normal;
	text-decoration:underline;
}
/* ============= <inner pages> =============== */
#left_container {
	width:245px;
	height:100%;
	float:left;
	color:#fff;
}
.left_container_big {
	background:url(../images/bg_new2.jpg) repeat-x left bottom #0993ea;
	height:965px;
}
* html .left_container_big {
	height: 965px;
}
/*.left_container_big {
	background:url(../images/leftside_bg.png) repeat-x;
	min-height:1730px;
}
* html .left_container_big {
	height: 1730px;
}*/
.left_container_sml {
	background:url(../images/bg_new2.jpg) repeat-x left bottom #0993ea;
	height:700px;
}
/** html .left_container_sml {
	height: 700px;
}*/
.sidelink {
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	padding:30px;
	text-transform:uppercase;
}
.sidelink a {
	color:#fff;
	text-decoration:none;
}
.sidelink a:hover {
	color:#fff;
	text-decoration:underline;
}
.sidelink ul li {
	margin:10px;
	padding:0;
}
.sidelink li {
	color:#fff;
	font-size:12px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
.sidelink li a {
	color:#fff;
	font-size:12px;
	text-decoration:none;
	text-transform:none;
}
.sidelink li a:hover {
	color:#fff;
	text-decoration:underline;
	text-transform:none;
}
.facebook {
	background:url(../images/facebook.png) no-repeat;
	height:40px;
	width:135px;
	border:none;
	cursor:pointer;
	margin-top:350px;
}
#right_container_auto {
	width:739px;
	height:auto;
	float:left;
	background:#fff;
	margin-bottom:0px;
	min-height:700px;
}
#right_container {
	width:739px;
	height:1000px;
	float:left;
	background:#fff;
	_margin-bottom:-20px;
}
#right_container h2 {
	color:#0363a8;
	font-size:22px;
	font-family:Arial, Helvetica, sans-serif;
	margin:20px 37px 15px 37px;
}
.topshadow_effect {
	background:url(../images/top_shadow_effect.png) repeat-x;
	height:8px;
}
.about_banner {
	background:url(../images/aboutus.jpg) no-repeat center;
	height:310px;
	margin:0 auto;
}
.overview_banner {
	background:url(../images/overview_hdr.jpg) no-repeat center;
	height:310px;
	margin:0 auto;
}
.property_banner {
	background:url(../images/property_management.jpg) no-repeat center;
	height:310px;
	margin:0 auto;
}
.projectpro_banner {
	background:url(../images/project.jpg) no-repeat center;
	height:310px;
	margin:0 auto;
}
#right_container_auto h2 {
	color:#0363a8;
	font-size:22px;
	font-family:Arial, Helvetica, sans-serif;
	margin:15px 35px;
	font-weight:normal;
}
#right_container_auto h2 a{
	cursor:text;
	color:#0363a8;
	text-decoration:none;
}
.gray_hdr {
	color:#a0a0a0;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
	margin:10px 5px 10px 0;
}
.blue_hdr {
	color:#0363a8;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
	margin:10px 5px 10px 0;
}
.content_text {
	font-family:Arial, Helvetica, sans-serif;
	color:#464646;
	font-size:12px;
	margin:10px 40px;
	font-weight:500;
        line-height: 180%;
}
.content_text a{
	color:#464646;
}
.content_text a:hover {
	text-decoration:none;
}
.content_text p {
	line-height:180%;
	margin:5px 0;
}
.content_blue {
	font-family:Arial, Helvetica, sans-serif;
	color:#0363a8;
	font-size:12px;
	margin:50px 40px 5px 40px;
	font-weight:bold;
}
.brd {
	background:url(../images/brd.jpg) repeat-y;
	height:auto;
	margin:10px 0;
	padding:5px;
	color:#fff;
	font-size:12px;
	text-transform:uppercase;
	font-weight:bold;
}
.sml_div {
	width:48%;
	height:auto;
	float:left;
}
.sml_div a {
	color:#464646;
	text-decoration:none;
}
.sml_div a:hover {
	color:#464646;
	text-decoration:underline;
}
.sml_div ul {
	padding:0;
	margin:0
}
.sml_div ul li {
	color:#464646;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding-left:15px;
	line-height:20px;
	background:url(../images/bullet_icon.gif) no-repeat 0px 8px;
	list-style:none !important;
}
.residential_content {
	font-family:Arial, Helvetica, sans-serif;
	color:#464646;
	font-size:12px;
	margin:10px 25px;
	font-weight:500;
}
.residential_content a {
	color:#464646;
	font-weight:bold;
}
.sml_div1 {
	width:200px;
	height:auto;
	float:left;
}
.sml_div2 {
	width:285px;
	height:auto;
	float:left;
	padding:0 30px 0 20px;
	_padding:0 10px 0 0px;
	min-height:100px;
}
.sml_div2 a {
	color:#3690d6;
	text-decoration:none;
	font-weight:bold;
}
.sml_div2 a:hover {
	color:#3690d6;
	text-decoration:underline;
}
.sml_div2 .icon_1 {
	background:url(../images/icon_1.gif) no-repeat;
	height:26px;
	line-height:15px;
	padding:0px 10px 0 25px;
	float:left;
	width:100px;
}
.sml_div2 .icon_2 {
	background:url(../images/icon_2.gif) no-repeat;
	height:26px;
	line-height:15px;
	padding:0px 10px 0 25px;
	float:left;
	width:100px;
}
.sml_div2 .icon_3 {
	background:url(../images/icon_3.gif) no-repeat;
	height:26px;
	line-height:15px;
	padding:0px 10px 0 25px;
	float:left;
	width:100px;
}
.sml_div2 .icon_4 {
	background:url(../images/icon_4.gif) no-repeat;
	height:26px;
	line-height:15px;
	padding:0px 10px 0 25px;
	float:left;
	width:115px;
}
.sml_div2 .icon_5 {
	background:url(../images/icon_5.gif) no-repeat;
	height:26px;
	line-height:15px;
	padding:0px 10px 0 25px;
	float:left;
	width:105px;
}
.sml_div2 .icon_6 {
	background:url(../images/icon_6.gif) no-repeat;
	height:26px;
	line-height:15px;
	padding:0px 10px 0 30px;
	float:left;
	width:100px;
}
.auto {
	width:auto;
}
.right_btn_div {
	width:150px;
	height:auto;
	float:left;
	_float:right;
}
.sml_div h3 {
	font-family:Arial, Helvetica, sans-serif;
	color:#464646;
	font-size:12px;
	text-transform:uppercase;
	padding:0px;
}
.sml_div h3 span {
	color:#0363a8;
	text-transform:none;
}
.empty25 {
	height:25px;
}
.paramount_logo {
	background:url(../images/paramount.png) no-repeat;
	height:87px;
	width:226px;
	border:none;
	margin:10px 30px;
}
.paramount_depot_logo {
	background:url(../images/paramount_logo.jpg) no-repeat;
	height:115px;
	width:211px;
	border:none;
	margin:10px 35px;
}
.nobhill_logo {
	//background:url(../images/nobhill.png) no-repeat;
	height:110px;
	width:200px;
	border:none;
	margin:10px 25px;
	float:left;
}
.lable {
	width:110px;
	float:left;
	line-height:30px;
}
.lable_auto {
	width:auto;
	float:left;
	line-height:25px;
	padding-left:25px;
	padding-right:10px;
}
.contact_input {
	border:#b7b7b7 1px solid;
	height:17px;
	width:480px;
	padding:2px;
	margin:5px 2px;
}
.contact_input_mid {
	border:#b7b7b7 1px solid;
	height:17px;
	width:300px;
	padding:2px;
	_width:280px;
	float:left;
	margin-left:3px;
	_margin-left:4px;

}
.contact_input_mid_div {
	float:left;
	/*width:284px;*/
	padding-left:0px !important;
	text-align:left;
	margin:5px 0px 5px 1px;
	_margin:5px 0px 5px 2px;
}
.contact_input_sml {
	border:#b7b7b7 1px solid;
	height:17px;
	width:100px;
	padding:2px;
	margin:0px;
	
}
.contact_input_sml_div {
	float:left;
	width:104px;
	background:black;
	margin:5px 2px;
}
.left {
	float:left;
}
.contact_select {
	border:#b7b7b7 1px solid;
	width:200px;
	padding:0px;
	margin:5px 2px;
	color:#333333;
	font-size:12px;
}
.contact_textarea {
	border:#b7b7b7 1px solid;
	height:195px;
	width:480px;
	padding:2px;
	margin:5px 2px;
}
.reset_btn {
	background:url(../images/reset.gif) no-repeat;
	width:62px;
	height:33px;
	border:0px;
	float:left;
	cursor:pointer;
}
.send_btn {
	background:url(../images/send.gif) no-repeat;
	width:64px;
	height:33px;
	border:0px;
	float:left;
	cursor:pointer;
}
.send_btn1 {
	background:url(../images/send.gif) no-repeat !important;
	width:64px !important;
	height:33px !important;
	border:0px;
	float:left;
	cursor:pointer;
	margin-left: 190px;
    margin-top: 4px;
}
#user-pass label{
	width:190px !important;
}
#user-pass-reset #edit-submit {
    background: url("../images/login.gif") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    height: 33px;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    text-indent: -99999px;
    width: 64px;
}
.requestPass{
	margin-left: 114px;
	color:#0363A8 !important;	
}
.map_btn {
	background:url(../images/map.gif) no-repeat;
	width:154px;
	height:35px;
	border:0px;
	float:left;
	cursor:pointer;
}
.brochure_btn {
	background:url(../images/brochure.gif) no-repeat;
	width:154px;
	height:35px;
	border:0px;
	float:left;
	cursor:pointer;
}
.weather_btn {
	background:url(../images/weather.png) no-repeat;
	width:122px;
	height:41px;
	border:0px;
	float:left;
	cursor:pointer;
	margin:5px auto;
}
.pay_rent_btn {
	background:url(../images/pay_rent2.gif) no-repeat;
	width:132px;
	height:36px;
	border:0px;
	cursor:pointer;
	float:left;
}
*:first-child+html .pay_rent_btn{
	float:right;
}

.btn_div {
	width:310px;
	float:right;
	text-align:center;
	margin:5px auto;
	padding-right:45px;
}
.img_div_container {
	background:url(../images/bg_img1.gif) no-repeat right top;
	width:182px;
	height:125px;
	text-align:left;
	padding-top:2px;
}

.img_div {
	width:182px;
	height:235px;
	margin:5px 18px 5px 5px;
	text-align:center;
	border:none;
	float:left;
}
.img_div p{
	margin:0px;
	line-height:18px;
	padding:0 8px 0 0;
}
.img_div a {
	text-decoration:none;
	color:#707070;
}
.service_image {
	background:url(../images/services_image.jpg) no-repeat right;
	height:303px;
	width:739px;
	padding-bottom:0px;
	margin-bottom:0px;
}
.depot_image {
	background:url(../images/depot_img.jpg) no-repeat right;
	height:335px;
	width:739px;
	padding-bottom:0px;
	margin-bottom:0px;
}
.hdr_big {
	color:#0363a8;
	font-size:22px;
	font-family:Arial, Helvetica, sans-serif;
	margin:15px 0px;
}
/*---------------- Gallery  -----------------------*/
		.gallery {
	padding:0px;
	margin:0px;
	height:300px;
	width:230px;
}
.gallery ul {
	padding:0px;
	margin:0px;
}
.gallery li {
	padding:0px 7px 7px 0px;
	margin:0px;
	float:left;
	height:62px;
	width:62px;
	list-style:none;
	background:url(../images/gallery_img_sml.jpg) no-repeat -4px -3px;
	cursor:pointer;
}
.no_padding {
	padding:0px 0px 7px 0px !important;
}
.img_container {
	height:303px;
	width:387px;
	background:url(../images/ajax-loader.gif) no-repeat center center;
	padding:0px;
	margin:0px;
}
#imagerota03 {
	height:320px;
	width:400px;
	background:url(../images/gallery_img_bg.jpg) no-repeat;
}
#left {
	float:left;
}
#right {
	float:right;
}
.gallery h3 {
	color:#004413;
	font-family:"Myriad Pro", Arial;
	font-size:14px;
	font-weight:normal;
}
.slider-wrap { /* This div isn't entirely necessary but good for getting the side arrows vertically centered */
	height:450px;
	margin-top:15px;
	padding:10px;
	width:290px;
	position: relative;
}
/* These 2 lines specify style applied while slider is loading */
		.csw .loading {
	margin: 200px 0 300px 0;
	text-align: center
}
.csw {
	padding:0px;
	margin:0px;
}
.csw ul {
	padding:0px;
	margin:0px;
}
.csw li {
	padding:0px 7px 7px 0px;
	margin:0px;
	float:left;
	height:92px;
	width:92px;
	list-style:none;
}
.no_padding {
	padding:0px 0px 7px 0px !important;
}
.stripViewer { /* This is the viewing window */
	position: relative;
	overflow: hidden;
	padding: 5px;
	width:210px;
	height:210px;
	top:30px;
	float:left;
}
.stripViewer .panelContainer { /* This is the big long container used to house your end-to-end divs. Width is calculated and specified by the JS  */
	position: relative;
	left: 0;
	top: 10px;
	width: 100%;
	list-style-type: none;/* -moz-user-select: none; // This breaks css validation but stops accidental (and intentional - beware) panel highlighting in Firefox. Some people might find this useful, crazy fools. */
}
.stripViewer .panelContainer .panel { /* Each panel is arranged end-to-end */
	float:left;
	height: 100%;
	position: relative;
	width: 700px; /* Also specified in  .stripViewer  above */
}
.stripNav { /* This is the div to hold your nav (the UL generated at run time) */
	margin: auto;
	display:none;
}
.stripNav a { /* The nav links */
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	line-height: 32px;
	background: #c6e3ff;
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 0 15px;
}
.stripNavL, .stripNavR { /* The left and right arrows */
	position: absolute;
	top: 270px;
	text-indent: -9000em;
}
.stripNavL a, .stripNavR a {
	display: block;
	height: 36px;
	width: 42px;
}
.stripNavL {
	left: 1px;
	_left: -670px;
}
.stripNavR {
	left: 170px;
	_left: -500px;
}
.stripNavL {
	background: url("../images/previous.gif") no-repeat center;
}
.stripNavR {
	background: url("../images/next.gif") no-repeat center;
}
h3.gallery_caption {
	color:#004413;
	font-family:"Myriad Pro", Arial;
	font-size:14px;
	font-weight:normal;
	margin-bottom:8px;
	clear:both;
	margin:28px 0px 5px 0px !important;
	margin:38px 0px 0px 0px;
}
/*----------------- map ------------------*/
.map {
	padding:10px 0 20px 0;
	font-weight:normal;
}
.map_detils  h3 {
	font-family:Verdana, Geneva, sans-serif;
	color:#5b5b5b;
	font-size:11px;
	padding:0px 0 10px 0;
}
.map_detils h3 span {
	color:#0363a8;
	text-transform:none;
}
.map_detils .field_class {
	height:21px;
	border:1px solid #ccc;
	width:120px;
	margin:0 4px 0 3px;
	font:11px Tahoma, Geneva, sans-serif;
	color:#03416e;
	padding:0 0 0 5px
}
.getdirection {
	background:url(../images/btn_1.gif) no-repeat;
	width:88px;
	height:20px;
	font:11px Tahoma, Geneva, sans-serif;
	color:#03416e;
	border:0px;
	padding-bottom:2px;
	cursor:pointer;
}
.clear_btn {
	background:url(../images/btn_2.gif) no-repeat;
	width:45px;
	height:20px;
	font:11px Tahoma, Geneva, sans-serif;
	color:#03416e;
	border:0px;
	padding-bottom:2px;
	cursor:pointer;
}

/*---------------- new --------------*/
.discription_box {
	padding-top:15px;
	padding-bottom:5px;
}

#right_bar {
	padding-left:50px;
}
.weather_box {
	background:url(../images/weather_bg.gif) no-repeat;
	width:98px;
	height:39px;
	margin:0px 20px 10px 8px;
	padding:2px 9px 0 15px;
	_margin:0px 0px 10px 35px;
	color:#fff;
	text-align:center;
	font:bold 11px Tahoma, Geneva, sans-serif ;
	line-height:16px;
}
.weather_box a {
	color:#fff;
	font:10px;
}
.weather_box img{
	float:left;
}
.weather_box .text{
	float:right;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	padding-right:5px;
}
.weather_box .text sup{
	font-size:10px;
	line-height:5px;
}


#edit-search-theme-form-1-wrapper label{
 display:none;
}
#edit-search-theme-form-1 {
 background:url("../images/serch_bg.gif") no-repeat scroll 0 0 transparent;
 border:0 none;
 float:left;
 height:22px;
 margin-right:4px;
 width:144px;
 padding:3px 0 0 5px;
}

#edit-submit {
 background:url("../images/search_btn.gif") no-repeat scroll 0 0 transparent;
 border:0 none;
 cursor:pointer;
 float:left;
 height:29px;
 width:58px;
 text-indent:-99999px;
}
#edit-name-wrapper {
	padding:20px 0 0 0;
}
#edit-name-wrapper label, #edit-pass-wrapper label {
	float:left;
	line-height:30px;
	width:110px;
}
#edit-name-wrapper label span, #edit-pass-wrapper label span{
	color:#f00;
}
#edit-name-wrapper input ,  #edit-pass-wrapper input {
border:1px solid #B7B7B7;
height:17px;
margin:5px 2px;
padding:2px;
width:280px;
}
#edit-name-wrapper .description,#edit-pass-wrapper .description {
	font-size:10px;
	padding-left:114px;
	padding-bottom:10px;
}
#user-login  #edit-submit {
 background:url("../images/login.gif") no-repeat scroll 0 0 transparent;
 border:0 none;
 cursor:pointer;
 height:33px;
 width:64px;
 text-indent:-99999px;
 margin-left:114px;
 margin-top:10px;
 margin-bottom:20px;
}
#search-form label{
	float:left;
	line-height:30px;
	width:140px;
	padding-left:1px;
}
#search-form #edit-keys{
	border:1px solid #B7B7B7;
	height:17px;
	margin:5px 2px;
	padding:2px;
	width:280px;
}
/*#edit-keys-wrapper {
	float:left;
}*/
#search-form #edit-submit{
	background:url("../images/search_btn1.gif") no-repeat scroll 0 0 transparent;
	border:0 none;
	cursor:pointer;
	float:left;
	height:33px;
	text-indent:-99999px;
	width:62px;
	float:left;
	margin-left:10px;
}
.box {
	clear:both;
	padding:10px 0px 0px 0px;
	/*border:1px solid #dddada;
	background:#f5f5f5;*/
	margin-top:90px;
}
.box  h2 {
	color:#0363A8;
	font-family:Arial,Helvetica,sans-serif;
	font-size:20px !important;
	margin:0px 37px 15px 0!important;
	border-bottom:1px solid #dddada;
}
h2.head_dynamic {
	margin:20px 37px 15px 0!important;
}
#edit-keys-wrapper {
	float:left;
}

#edit-submit-1 {
	 background:url("../images/search_btn.gif") no-repeat scroll 0 0 transparent;
	 border:0 none;
	 cursor:pointer;
	 float:left;
	 height:29px;
	 width:58px;
	 text-indent:-99999px;
}
/*------------ new-------*/
.back {
	font:normal 11px Tahoma, Geneva, sans-serif ;
	text-align:right;
	color:#0363A8;
	background:url(../images/back.gif) no-repeat 560px top;
	padding-right:22px;
}
.back a{
	color:#0363A8;
}
.content_desc {
	padding:1px 0px 10px 0px;
	line-height:18px;
	_padding:8px 0px 10px 0px;
	*padding:8px 0px 10px 0px;
}
.detil_warp {
	padding-top:25px;
	_padding-top:5px;
	*padding-top:5px;
}
/*------------- pager ----------------------*/
ul.pager {
	float:right;
	clear:both;
	padding:20px 100px 0 0;
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#0363A8;
}
ul.pager li{
	list-style:none;
	float:left;
}
ul.pager a{
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#0363A8;
	padding:0 4px;
	float:left;
}
#popupContact  #send_butt {
	background:url("../images/send.gif") no-repeat scroll 0 0 transparent;
	border:0 none;
	cursor:pointer;
	height:33px;
	width:64px;
	margin-left:92px;
	text-indent:-99999px;
}
div.error, tr.error {
margin-bottom:25px;
clear:both;
}

div.error, tr.error {
background:none repeat scroll 0 0 #FFCCCC;
color:#220000;
padding:2px 10px;
	margin-top:30px;
}

div.error {
border:1px solid #DD7777;
}

.messages {
	background:none repeat scroll 0 0 #E9F8EB;
	border:1px solid #D4F0D7;
	line-height:19px;
	margin:15px 0 0 0;
	padding:2px 8px;
}
.search-results a{
	color:#0363A8;
	font-family:Arial,Helvetica,sans-serif;
	font-size:16px !important;
	margin:0px 37px 15px 0!important;
}
.search-results a:hover{
	text-decoration:underline;
}
.search-results dd {
	border-bottom:1px dotted #ccc;
	margin-bottom:12px;
}
.search-results dd p{
	margin:0px;
}
div.error a{
	color:#0363A8;
}

/*----------------- 14june--------------*/

a.back_button {
	background:url("../images/back_1.gif") no-repeat scroll 0px 2px ;
	float:right;
	font:11px Arial, Helvetica, sans-serif ;
	color:#0363A8;
	padding:0px 0 0 15px;
	margin-right:60px;
}
/*-------------------------- past project --------------------*/
.past_details {
	padding:0px;
	margin:0px;
	font:12px Arial, Helvetica, sans-serif;
	color:#464646;
}
.past_details h3{
	color:#959595;
	font-size:18px;
	font-weight:normal;
	margin:15px 0 0 0;
	font-family:"Arial Narrow", Arial
}
.past_details span{
	font-weight:bold;
	color:#0363a8;
	text-transform:uppercase;
}
.past_details a {
	color:#464646;
	font-weight:normal;
}
.past_details a:hover {
	text-decoration:underline;
}
.past_details p {
	margin:0px;
	padding:16px 0 0px 0;
	line-height:16px;
}
.list_box1 {
	width:215px;
	float:left;
	padding-right:6px;
}
.list_box2 {
	width:215px;
	float:left;
}
.middle_top {
	padding-top:35px !important;
}
.pastproject_banner {
background:url("../images/past_project.jpg") no-repeat scroll center center transparent;
height:310px;
margin:0 auto;
}
.sml_div h3 strong{
	text-transform:none !important;
}
/*----------- 24june ---------------*/
.pastproject_new {
	background:url(../images/pastproject_btn_new.gif) no-repeat;
	width:153px;
	height:35px;
	border:0px;
	cursor:pointer;
	margin-right:109px;
	margin-top:50px;
	float:right;
}
.residential_new {
	background:url(../images/residential_new_btn.gif) no-repeat;
	width:153px;
	height:35px;
	border:0px;
	cursor:pointer;
	margin-right:8px;
	float:right;
	margin-top:50px;
}
.commerical_new {
	background:url(../images/commerical_new_btn.gif) no-repeat;
	width:153px;
	height:35px;
	border:0px;
	cursor:pointer;
	margin-right:8px;
	float:right;
	margin-top:50px;
}
.footer_logo{
	background:url(../images/footer_logo_new.gif) no-repeat;
	height:37px;
	width:34px;
	position:absolute;
	float:right;
	right:-9px;
	top: 77px;
}
/*May 08 2012*/

.greenlandingPage{
	clear:both;
}
.greenlandingPage a{
	text-decoration:none !important;
	color:#0072bc;
}
.greenBannerTop{
	background:url(../images/bg_green_top_banner.png) no-repeat 0 0 #0e2b17;
	width:666px;
	padding:420px 32px 41px 41px;
	color:#fff;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	line-height: 18px;
}
.greenBannerTop p{
	color:#fff;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	line-height: 18px;
	padding: 17px 0 0 0px !important;
}
.whatGreenBlk p{
	padding: 0 0px 16px  0px !important;	
}
.whatGreenBlk br{
	display:none	
}
.greenTitle{
	font-family:Arial, Gadget, sans-serif;
	font-size:18px;
	background:url(../images/title_bggr.png) repeat-x 0 0 #64863e;	
	padding:10px 32px 10px 41px;
	font-weight: bold;
	color: #0E2B17;
}
.whatGreenBlk{
	padding:29px 32px 27px 41px;
	color:#464646;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	line-height: 18px;
}
.whatGreenBlk h2{
	font-family:Arial, Gadget, sans-serif !important;	
	font-size:18px !important;	
	padding: 0 0 3px !important;	
	color:#0e2b17 !important;	
	margin:0 !important;	
}
.whatGreenBlk .conditions{
	color:#464646;
	font-size:9px;
	padding: 2px 0 16px;
}
.joinGreen{
	font-weight:bold;
	font-size:14px;
	line-height:17px;
	color:#0e2b17;	
	padding:0 0 20px;
}
.goGreenLeft ul,.goGreenLeft li{
	list-style-type:none;	
}
.goGreenLeft li{
	padding: 0 0 14px 8px;
	background: url(../images/bul_small.png) no-repeat 0 7px;
	
}
.greenlandingPage .clear{
	height:1px;	
}
.goGreenLeft{
	width:309px;
	float:left;	
}
.goGreenRight{
	float:right !important;	
}
.whatGreenBlkBG{
	background:url(../images/down_bg.png) repeat-x 0 0 #cbe48d;
	padding-bottom: 0px;	
}
.greenlogofooter{
    padding:10px 113px 12px 0;
    text-align: right;
}
.inline_rightimg {
	float:right;
	margin-left: 12px;
	margin-bottom: 12px;	
}
.green_head_container {
   height:auto !important;	
}
.footer_green{
	background:url("../images/footer_green.png") no-repeat scroll right center transparent!important;	
}

.greenlandingPage ol li,.greenlandingPage ul li,.greenlandingPage .item-list ul li, .greenlandingPage li.leaf {
  margin: 0.15em 0 0.15em .5em; /* LTR */
}

.greenlandingPage ul li, .greenlandingPage .item-list ul li,.greenlandingPage li.leaf {
  padding: 0 0 .2em 1.5em;
  list-style-type: none;
  list-style-image: none;
  background:url(../images/menu-leaf.gif) no-repeat 1px .35em; /* LTR */
}
.greenlandingPage h1{
	background: url("../images/title_bggr.png") repeat-x scroll 0 0 #64863E;
    font-family: Arial,Gadget,sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 32px 10px 41px;
}
.greenlandingPage h2{
	color: #0E2B17 !important;
    font-family: Arial,Gadget,sans-serif !important;
    font-size: 18px !important;
    padding: 0 0 3px !important;
}
.greenlandingPage h3{
	color: #0E2B17 !important;
    font-family: Arial,Gadget,sans-serif !important;
    font-size: 16px !important;
    padding: 0 0 3px !important;
}
.greenlandingPage h4{
	color: #0E2B17 !important;
    font-family: Arial,Gadget,sans-serif !important;
    font-size: 14px !important;
    padding: 0 0 3px !important;
}
.greenlandingPage ul {
    margin: 0.5em 0 1em;
    padding: 0;
}
.greenlandingPage h5{
	color: #0E2B17 !important;
    font-size: 14px !important;
    font-weight: bold !important;
    line-height: 17px !important;
    padding: 0 0 20px !important;
}
.greenlandingPage .imgBx{
	width:275px;
	padding-left:24px;
}
.greenlandingPage .imgBx h6{
	color: #0e2b17 !important;
    font-size: 13px !important;
    font-weight: bold !important;
    line-height: 17px !important;
    padding: 0 0 5px !important;
	margin:0px !important;
}
.greenlandingPage .imgBx p{
	margin:0px !important;
	padding:0px !important;
}
.greenlandingPage .rtecenter {
    text-align: center;
}
.greenlandingPage .rteright {
    text-align: right;
}
#right_container_auto p{
    font-family: Arial, Helvetica, sans-serif;
    color: #464646;
    font-size: 12px;
    margin: 5px 40px;
    font-weight: 500;
    line-height: 180%;
}
.content_text p,.content_text p p,#right_container_auto p p,.detil_warp p,.detil_warp p p {
    margin-left: 0 !important;
    margin-right: 0 !important;
}